{% extends "layouts/base.twig" %}

{% block page_content %}

    <section id="first-screen" class="content-wrapper">
        <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
        <div class="wrapper flex flex-col gap-12">
            <div class="row">
                <div class="lg:w-2/3">
                    <h1>
                        Global Payments <span>Solved</span>
                        <img src="{{ theme.link }}/assets/images/arrow-cir-r.svg" width="50" height="50" alt="Arrow right"
                        class="inline-block mb-2" />
                    </h1>
                </div>
                <div class="lg:w-1/3">
                    <p class="text-xl text-balance mb-6">
                        We help scale online businesses to a global level
                    </p>
                    <a href="#contacts-screen" title="Get in touch with us" aria-label="Contact Solvy" class="btn-pr">
                        Get in touch
                    </a>
                </div>
            </div>
            <div class="row !items-stretch">
                <div class="lg:w-2/3 cover">
                    <div class="customers">
                        <img src="{{ theme.link }}/assets/images/oct.svg" width="150" height="25" alt="OffshoreCorpTalk" />
                        <img src="{{ theme.link }}/assets/images/trustpilot.svg" width="120" height="30" alt="OffshoreCorpTalk" />
                        <div class="flex items-center gap-2">
                            <h3>
                                1000+
                            </h3>
                            <p class="!mb-0">
                                Active Users
                            </p>
                        </div>
                    </div>
                </div>
                <div class="lg:w-1/3 features">
                    <div class="feature">
                        Global Payment Gateway
                    </div>
                    <div class="feature">
                        Private Nominee Service
                    </div>
                    <div class="feature">
                        Company Formation UK, EU, HK
                    </div>
                    <div class="feature">
                        Crypto-Friendly Bank Accounts
                    </div>
                    <div class="feature">
                        Cloaking Solutions
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="cta-screen" class="content-wrapper">
        <div class="wrapper">
            <div class="row">
                <div class="lg:w-1/3">
                    <h2 class="!text-5xl">
                        Your <span>Trusted Partner</span> for Global Payments
                    </h2>
                </div>
                <div class="lg:w-2/3">
                    <p class="text-xl">
                        We have developed a convenient way to receive payments from anywhere in the world. Our team of experts is always here to help and support you through every step of the process.
                    </p>
                    <a href="#contacts-screen" title="Get in touch with us" aria-label="Contact Solvy" class="btn-pr">
                        Keep in touch
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section id="integrations-screen" class="content-wrapper">
        <div class="wrapper">
            <p class="text-center text-xl text-balance max-w-xl mx-auto">
                Solvy will ensure that your business receives the <span class="text-firm_blue">latest and greatest</span> integration solutions
            </p>
            <div class="integrations">
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/visa.svg " width="160" height="51" alt="Visa" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/mastercard.svg" width="129" height="100" alt="Mastercard" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/gpay.svg" width="160" height="64" alt="Google Pay" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/applepay.svg" width="160" height="66" alt="Apple Pay" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/klarna.svg" width="160" height="75" alt="Klarna" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/stripe.svg" width="160" height="66" alt="Stripe" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/shopify.svg" width="160" height="44" alt="Shopify" />
                </div>
                <div class="integration">
                    <img src="{{ theme.link }}/assets/images/woo.svg" width="160" height="93" alt="WooCommerce" />
                </div>
            </div>
        </div>
    </section>

    {% for post in solutions_obj %}
        <section id="solutions-screen" class="content-wrapper">
            <div class="wrapper">
                <div class="text-center text-xl text-balance max-w-xl mx-auto">
                    {{ post.content }}
                </div>
                <h2 class="!text-5xl text-center max-w-xl mx-auto">
                    {{ post.title }}
                </h2>
                {% for post in solutions %}
                    <div class="row solution">
                        <div class="lg:w-2/3">
                            <h3>
                                {{ post.title }}
                            </h3>
                            <content>
                                {{ post.content }}
                            </content>
                        </div>
                        <div class="lg:w-1/3">
                            <img src="{{ post.thumbnail.src|resize(400, 283) }}" alt="{{ post.title }}" />
                        </div>
                    </div>
                {% endfor %}
            </div>
        </section>
    {% endfor %}

    {% for post in industries_obj %}
        <section id="industries-screen" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
            <div class="wrapper">
                <h2 class="!text-5xl text-center max-w-xl mx-auto">
                    {{ post.title }}
                </h2>
                <div class="text-center text-xl text-balance max-w-5xl mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in features_obj %}
        <section id="features-screen" class="content-wrapper">
            <div class="wrapper">
                <div class="row !items-stretch">
                    <div class="lg:w-1/3 text-center lg:text-left">
                        <h2 class="!text-5xl max-w-xl mx-auto mb-6">
                            {{ post.title }}
                        </h2>
                        <div class="text-xl text-balance max-w-5xl mx-auto">
                            {{ post.content }}
                        </div>
                    </div>
                    <div class="lg:w-2/3">
                        <div class="features">
                            {% for post in features %}
                                <div class="feature">
                                    <h3 class="mb-4">
                                        {{ post.title }}
                                    </h3>
                                    <content>
                                        {{ post.content }}
                                    </content>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in cta2_obj %}
        <section id="cta2-screen" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
            <div class="wrapper">
                <h2 class="!text-5xl text-center max-w-xl mx-auto mb-6">
                    {{ post.title }}
                </h2>
                <div class="text-center text-xl text-balance max-w-xl mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in faq_obj %}
        <section id="faq-screen" class="content-wrapper">
            <div class="wrapper">
                <h2 class="!text-5xl max-w-xl mx-auto mb-6 text-center">
                    {{ post.title }}
                </h2>
                <div class="text-xl text-balance max-w-5xl mx-auto">
                    {{ post.content }}
                </div>
                <div class="questions">
                    {% for post in faq %}
                        <div class="question">
                            <h3>
                                {{ post.title }}
                            </h3>
                            <content style="display: none;">
                                {{ post.content }}
                            </content>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in digits_obj %}
        <section id="digits-screen" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
            <div class="wrapper">
                <h2 class="!text-5xl text-center max-w-xl mx-auto mb-6">
                    {{ post.title }}
                </h2>
                <div class="text-center text-xl text-balance max-w-5xl mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in blog_obj %}
        <section id="blog-screen" class="content-wrapper">
            <div class="wrapper">
                <div class="row !items-start mb-8">
                    <div class="lg:w-1/2">
                        <h2 class="!text-5xl">
                            {{ post.title }}
                        </h2>
                    </div>
                    <div class="lg:w-1/2">
                        <div class="text-xl text-right text-balance">
                            {{ post.content }}
                        </div>
                    </div>
                </div>
                <div class="blog-posts">
                    {% for post in blog %}
                        <div class="blog-post">
                            <a href="{{ post.link }}" title="Read more about {{ post.title }}" aria-label="Read more about {{ post.title }}">
                                <div class="post-image" style="background-image: url({{ post.thumbnail.src|resize(600, 360) }});"></div>
                            </a>
                            <div class="post-meta">
                                {{ post.date }} • Time to read: {% apply shortcodes %}[rt_reading_time]{% endapply %} min
                            </div>
                            <a href="{{ post.link }}" title="Read more about {{ post.title }}" aria-label="Read more about {{ post.title }}">
                                <h3>
                                    {{ post.title }}
                                </h3>
                            </a>
                            <div class="post-categories">
                                {% for cat in post.categories %}
                                    <div class="post-cat">
                                        <a href="{{ cat.link }}">
                                            {{ cat.name }}
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in cta3_obj %}
        <section id="cta3-screen" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
            <div class="wrapper">
                <h2 class="!text-5xl text-center max-w-xl mx-auto mb-6">
                    {{ post.title }}
                </h2>
                <div class="flex flex-col gap-8 items-center justify-center text-center text-xl text-balance max-w-5xl mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in affiliate_obj %}
        <section id="affiliate" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient.webp" class="gradient" />
            <div class="wrapper">
                <h2 class="!text-5xl text-center max-w-xl mx-auto mb-6">
                    {{ post.title }}
                </h2>
                <div class="flex flex-col gap-8 items-center justify-center text-center text-xl text-balance max-w-5xl mx-auto">
                    {{ post.content }}
                </div>
            </div>
        </section>
    {% endfor %}

    {% for post in contacts_obj %}
        <section id="contacts-screen" class="content-wrapper">
            <img src="{{ theme.link }}/assets/images/gradient2.webp" class="gradient2" />
            <div class="wrapper">
                <div class="content">
                    {{ post.content }}
                </div>
                <div class="buttons">
                    <a href="{{ site.option('vcard_setting_tg') }}" class="btn-contact tg">
                        <img src="{{ theme.link }}/assets/images/tg-bl.svg" width="22" height="22" alt="TG" />
                        <span>Telegram</span>
                    </a>
{#                    <a href="{{ site.option('vcard_setting_skype') }}" class="btn-contact tg">#}
{#                        <img src="{{ theme.link }}/assets/images/skype-bl.svg" width="22" height="22" alt="Skype" />#}
{#                        <span>Skype</span>#}
{#                    </a>#}
                    <a href="{{ site.option('vcard_setting_teams') }}" class="btn-contact teams">
                        <img src="{{ theme.link }}/assets/images/teams-bl.svg" width="22" height="22" alt="Teams" />
                        <span>Teams</span>
                    </a>
                    <a href="{{ site.option('vcard_setting_whatsapp') }}" class="btn-contact whatsapp">
                        <img src="{{ theme.link }}/assets/images/whatsapp-bl.svg" width="22" height="22" alt="Whatsapp" />
                        <span>Whatsapp</span>
                    </a>
                    <a href="#" class="btn-pr tg" id="form-toggler">
                        Contact Us
                    </a>
                </div>
            </div>
        </section>
    {% endfor %}

    <div class="submit-form-container">
        <div class="closer"></div>
        <div class="submit-form">
            <div class="close-button">
                <img src="{{ theme.link }}/assets/images/close.svg" width="30" height="30" alt="Close button" />
            </div>
            {% apply shortcodes %}[contact-form-7 id="47f7f78" title="Submit form"]{% endapply %}
        </div>
    </div>

{% endblock %}