{% extends 'layouts/base.twig' %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-{{ post.type }}" id="post-{{ post.id }}">
            <div class="post-image" style="background-image: url({{ post.thumbnail.src('large') }})">
                <h1 class="article-h1">{{ post.title }}</h1>
                <p class="blog-author">
                    <span>By</span>
                    <a href="{{ post.author.path }}">{{ post.author.name }}</a>
                    <span>&bull;</span>
                    <time datetime="{{ post.date|date('Y-m-d H:i:s') }}">{{ post.date }}</time>
                </p>
            </div>
            <section class="article-content">
                <div class="article-grid">
                    <div class="article-body">{{ post.content }}</div>
                    <div class="article-index">
                        <div class="article-index-content">
                            <h2 class="mb-6">
                                Post Index
                            </h2>
                        </div>
                    </div>
                </div>
            </section>
            {#<section class="comment-box">
                <div class="comments">
                    {% if post.comments %}
                        <h3>comments</h3>
                        {% for cmt in post.comments %}
                            {% include 'partials/comment.twig' with {
                                comment: cmt
                            } %}
                        {% endfor %}
                    {% endif %}
                </div>

                {% if post.comment_status == 'closed' %}
                    <p>comments for this post are closed</p>
                {% else %}
                    {% include 'partials/comment-form.twig' %}
                {% endif %}
            </section>#}
        </article>
    </div>
{% endblock %}
